.slider{
    min-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: black;
    z-index: 0;
}
.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 1130px;
    max-height: 100vh;
    opacity: 0;
    transform: translateX(-50%);
    transition: all .4s ease;
}
.current{
    opacity: 1;
    transform: translateX(0);
}

.content{
    position: absolute;
    left: 5rem;
    top: 5rem;
    color: white;
    width: 45%;
    font-size: 30px;
    padding: 3rem 3rem 23rem 3rem;
}
.heading{
    font-size: 48px;
}
.desc{
    font-size: 30px;
}
.arrow{
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    width: 2rem;
    height: 2rem;
    top: 35%;
    cursor: pointer;
    position: absolute;
    z-index: 999;
}
.arrow:hover{
    background-color: white;
    color: #777;
}
.next{
    right: 1.5rem;
}
.prev{
    left: 1.5rem;
}
.slide-img{
    width: 100vw;
    height: 100%;
 }

@media screen and(min-width: 600px){
     .slide-img{
        min-height: 100vh;
        
     }
     .slider{
        min-width: 100vw;
        height: 50vh;
     }
     .content{
        height: 40vh;
        min-width: 60vw;
        position: absolute;
        left: 1.5rem;
    }
}
@media screen and (max-width: 479px){
    .content{
        height: 100vh;
        min-width: 60vw;
        position: absolute;
        left: 1.5rem;
    }
    .heading{
        font-size: 20px;
    }
    .desc{
        font-size: 18px
    }
    .slide-img{
        min-width: 100vw;
    }
 
}

